body{
    background-color: lightblue;
      color: black;
  }
  div.margin {
    background-color: lightgray;
    border:dashed dimgray;
    height: 475px;
    color:black;
  }
  
  div.border {
    background-color: lightgreen;
    height: 340px;
  }
  
  div.padding {
    background-color: lightsteelblue;
   height: 225px;
  }
  
  div.content {
    background-color: white;
    border:dashed dimgray;
    height: 100px;
  }
  
  .title {
    text-align: center;
    padding-top: 20px;
  }
  
  .box-model {
    width: 85%;
    height: 100%;
    margin: 0 auto;
  }
  