body {
    color: green;
    font-size: 30px;
    margin-left: 35%;
    margin-top: 10%;
    margin-right: 35%;
    border: 2px solid black;
}
          
.my-class-1 a {
    color: inherit;
}
          
.my-class-2 a {
    color: initial;
}
          
.my-class-3 a {
    color: unset;
}
    